
nav{
    text-align: center;
}
nav ul{
    text-align: center;
    display: flex;
}
nav ul li{
    display: inline;
    list-style: none;
    margin-left: 10px;
    padding: 0 5px;
    
}
nav li :hover{
    color: yellow;
    background-color: gray;
}
nav ul li a{
    text-decoration: none;
}